[Unit]
Description=x1yoga_resume: apply x1yoga_resume . . .
After=suspend.target

[Service]
User=root
Type=simple
ExecStart=/usr/sbin/x1yoga_resume

[Install]
WantedBy=suspend.target
